body {
  margin: 0;
  padding: 0;
}

.popup-main {
  background-color: #141414;
  height: 400px;
  width: 350px;
}

h1 {
  color: #ffffff;
  text-size-adjust: auto;
  text-align: center;
}

h2 {
  color: #ffffff;
  text-size-adjust: 50%;
  text-align: center;
}

#refeshButon {
  float: right;
}
